{% extends "base.html" %}

{% block content %}
<div class="title">Contact</div><br>
<div class="indent"><b>Ben Hirsch</b></div><br>
<a class="in-text" target="_blank" href="mailto:benhirsch42@gmail.com?Subject=Forwarded%20from%20website" target="_top"><img src="https://mail.google.com/favicon.ico" width="16px" height="16px"/> benhirsch42@gmail.com</a><br>
<a class="in-text" target="_blank" href="https://twitter.com/BenHirsch42"><img src="https://twitter.com/favicon.ico" width="16px" height="16px"/> Twitter </a><br>
<a class="in-text" target="_blank" href="https://github.com/bhirsch42"><img src="https://github.com/favicon.ico" width="16px" height="16px"/> Github </a>
{% endblock content %}