{% extends "base.html" %}

{% block style %}

td {
	/*IE9 compatibility*/
	font-family: "droid_sansregular";
}

{% endblock style%}

{% block content %}
<div class="title">Sample Works</div><br>
<table border="0">

	<tr>
		<td width="350px">
			<div class="title">Slickbox</div>
			I'm currently working on a wrapper that reconciles the <a class="in-text" href="http://slick.ninjacave.com/">Slick2D</a> Java graphics library with the <a href="http://www.jbox2d.org/" class="in-text">JBox2D</a> Java physics engine for use in future projects.
		</td>
		<td width="350px">
			<center>
			<img class="sample" src="stylesheets/slickbox.png" border="1">
		</center>
		</td>
	</tr>
	<tr>
		<td>
			<center>
			<img class="sample" src="stylesheets/bastionPaper.png">
			<center>
		</td>
		<td>
			<div class="title">A Bastion of Play</div>
			For an English project, I was required to write a paper about how a game of my choosing encourages "meaningful play." To accomplish this, I chose the game <a href="http://supergiantgames.com/index.php/media/" class="in-text">Bastion</a> and created a program to drop in the words of the paper around the player's cursor while delivering vocal cues. Both of these are iconic elements to Bastion's gameplay.


</table>

{% endblock content %}